In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('sphist.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values('Date', inplace = True, ascending=True)
df['Date'].head()

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

In [10]:
df.rolling(3).sum()

     B
0  NaN
1  NaN
2  3.0
3  NaN
4  NaN

In [8]:
df.rolling(2, win_type='triang').sum()

     B
0  NaN
1  0.5
2  1.5
3  NaN
4  NaN